# --- Android/Kotlin ---
/build/
.gradle/
.kotlin/
local.properties
build_error.txt
.cxx/
.externalNativeBuild/
captures/

# --- IntelliJ/Android Studio (.idea) ---
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml

# --- Firebase ---
.firebase/
firebase.exe

# --- Sistema/Otros ---
.DS_Store
*.log

# Google Services configuration file
app/google-services.json

# Otros archivos sensibles
.env
local.properties

/appcomplect/app/build/outputs/apk/debug

# Gen
/app/src/main/kotlin/com/google/firebase/dataconnect/generated